{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}


<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">
    
    {% block search_input %}
    <div class="fr-search-bar {{ 'hidden' if hidesearchbar else '' }}" id="search-850" role="search">
        <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="fr-input" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
        {% block search_input_button %}
        <button class="fr-btn" title="{{_('Submit')}}" type="submit" value="search" aria-label="{{_('Submit')}}">
          {{_('Submit')}}
        </button>
        {% endblock %}
    </div>
    {% endblock %}

  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
        <div class="fr-form-group">
            <div class="fr-input-group control-order-by">
                <label for="field-order-by" class="fr-label">{{ _('Order by') }}</label>
                <select id="field-order-by" name="sort" class="fr-select">
                {% for label, value in sorting %}
                    {% if label and value %}
                    <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                {% block search_sortby_button %}
            </div>
        </div>
        {#<button class="fr-btn js-hide" type="submit">{{ _('Go') }}</button>#}
        {% endblock %}
    {% endif %}
  {% endblock %}


  {% block search_facets %}
    {% if facets and facets.fields|length > 0 %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="{#filtered pill#}fr-tag" data-type="{{ field }}"><span>
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {% if field == "res_format" %}
                  {{ h.get_vocabulary_label_by_uri("iana_media_type", value) }}
                  {#{{ h.list_dict_filter(search_facets_items, 'name', 'title', value) }}#}
                {% else %}
                  {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                {% endif %}
              {%- endif %}</span>
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fr-fi-close-line"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
      <a class="hide-filters btn btn-default">{{ _('Filter Results') }}</a>
    {% endif %}
  {% endblock %}

  {% block search_title %}
    {% if not error %}
      <div class="fr-h5">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</div>
    {% else %}
      <h2>Error</h2>
    {% endif %}
  {% endblock %}
</form>

{% if show_empty and count == 0 and not error %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
