
{% set current_url = h.full_current_url() %}
{% block social %}
<div class="fr-grid-row  fr-grid-row--gutters">
  <div class="fr-col-12">
    <div class="fr-tile">
      <section class="module module-narrow social fr-tile__body">
        {% block social_title %}
          <h2 class="module-heading fr-tile__title"><i class="fa fa-share-square-o"></i> {{ _('Social') }}</h2>
        {% endblock %}
        {% block social_nav %}
          <a href="https://twitter.com/share?url={{ current_url }}" target="_blank" rel="noopener"><i class="fa fa-twitter-square"></i> Twitter</a>
          <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank" rel="noopener"><i class="fa fa-facebook-square"></i> Facebook</a>
        {% endblock %}
      </section>
    </div>
  </div>
</div>
{% endblock %}
