include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/theme_design_system_fr *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/theme_design_system_fr/migration *.ini *.py *.mako
