.rememberme-passwordrequest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.container-narrow .form-actions {
    display: flex;
    justify-content: flex-end;
}