{#% ckan_extends %#}
{% extends "organization/read_base.html" %}

{% if group_dict is not defined %}
	{% set group_dict = c.group_dict %}
{% endif %}


{% block organization_title_info %}
  {# get hierarchy #}
  {% set top_nodes = [h.group_tree_section(id_=group_dict.id, type_=group_dict.type)] %}
  <div class="pkg-org-title{% if top_nodes[0].highlighted == true and top_nodes[0].children|length == 0 %}{% else %} has-series{% endif %}">
    <h1 class="fr-mb-3w">
      {% if group_dict.longname %}
        {{ group_dict.longname }}
        ({{ group_dict.display_name }})
      {% else %}
        {{ group_dict.title or organization.name }}
      {% endif %}
    </h1>
    <div class="fr-mb-2w">
      {% if group_dict.package_count %}
      <span class="count"><span class="ri-database-2-line"></span> {{ ungettext('{num} Dataset', '{num} Datasets', group_dict.package_count).format(num=group_dict.package_count) }}</span>
      {% else %}
      <span class="count"><span class="ri-database-2-line"></span> {{ _('0 Datasets') }}</span>
      {% endif %}
    </div>
    {# si organisation a des enfants #}
    {% if top_nodes[0].highlighted == true and top_nodes[0].children|length > 0 %}
    {# {% set url = h.url_for(organization.type ~ '.about', id=organization.name) %} #}
    <div class="pkg-org-series-container">
      <p>
        <span class="ri-stack-fill" aria-hidden="true"></span> {{ ungettext('Inclut {num} organisation', 'Inclut {num} organisations', top_nodes[0].children|length).format(num=top_nodes[0].children|length) }}
        <a class="toggle" href="#">
        <span class="link-open">{{ _("Voir la liste") }} <span class="fr-fi-arrow-down-s-line"></span></span>
        <span class="link-close">{{ _("Fermer la liste") }} <span class="fr-fi-arrow-up-s-line"></span></span>
        </a>
      </p>
      <div class="list">
      <ul>
        {% for org in top_nodes[0].children %}
        <li><span class="fr-fi-arrow-right-line" aria-hidden="true"></span> <a href="{{ h.url_for(group_dict.type ~ '.about', id=org.name) }}">{{ org.title }}</a></li>
        {% endfor %}
      </ul>
      </div>
    </div>
    {% endif %}
    {% for c in top_nodes[0].children %}
      {% if c.name == group_dict.name %}
        {# si organisation est un enfant #}
        <div class="pkg-org-series-container">
          <p>
            <span class="ri-stack-line" aria-hidden="true"></span> {{ _("Appartient à l'organisation") }}&nbsp;:
            <a href="{{ h.url_for(group_dict.type ~ '.about', id=top_nodes[0].name) }}">
              {{ top_nodes[0].title }}
            </a>
          </p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  
	{#<div id="organization-tree">
  {{ top_nodes }}
		{% snippet 'organization/snippets/organization_tree.html', top_nodes=top_nodes, use_longnames=True %}
	</div>#}
  <a href="{{ h.url_for('dataset.search') }}?q=&organization={{ group_dict.name }}" class="fr-btn fr-btn--secondary fr-btn--rounded">
    Rechercher un jeu de données dans cette organisation
    <span class="fr-fi-arrow-right-s-line"></span>
  </a>
{% endblock %}
{% block organization_extras %}
	{#{% snippet 'snippets/additional_info.html', extras = h.sorted_extras(group_dict.extras) %}#}

	{% set extras = h.sorted_extras(group_dict.extras) %}
	<table class="info-table fr-table">
		<tbody>
			{% for extra in extras %}
				{% set key, value = extra %}
				<tr rel="dc:relation" resource="_:extra{{ i }}">
					<th scope="row" class="dataset-label" property="rdfs:label">{{ _(key|e) }}</th>
					<td class="dataset-details" property="rdf:value">
            {% if key == "Territoire" %}
              {% set territoires = h.get_territories_label(value) %}
              {% for t in territoires %}
              {{ t }}{% if  loop.index != loop.length %}<br>{% endif %}
              {% endfor %}
            {% elif key == "Type" %}
              {{ h.get_type_adminstration_label_by_acronym(value) }}
            {% else %}
              {{ value }}
            {% endif %}
          </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block organization_aside %}
	<img class="fr-responsive-img" src="{{ group_dict.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ group_dict.name }}"/>
{% endblock %}
{% block organization_zone %}
  {% set extras = h.sorted_extras(group_dict.extras) %}
  {% for extra in extras %}{% set key, value = extra %}
    {% if key == "Territoire" %}
      {% snippet "snippets/map_mini.html", territories=value, preview=null %}
    {% endif %}
  {% endfor %}

  <button class="btn-map-enlarge" data-fr-opened="false" aria-controls="fr-modal-imgzoom" title="zoom">
      +
  </button>
{% endblock %}
{% block imgmodalcontent %}
  {% set extras = h.sorted_extras(group_dict.extras) %}
  {% for extra in extras %}{% set key, value = extra %}
    {% if key == "Territoire" %}
      {% snippet "snippets/map_modal.html", territories=value, preview=null %}
    {% endif %}
  {% endfor %}
{% endblock %}


{% block subtitle %}
	{{ _('About') }}
	{{ g.template_title_delimiter }}
	{{ super() }}
{% endblock %}


{% block primary_content_inner %}

	{% block page_heading %}
		{% if group_dict.longname %}
			{{ group_dict.longname }}
			({{ group_dict.display_name }})
		{% else %}
			{{ group_dict.title or organization.name }}
		{% endif %}
	{% endblock %}

	{% block organization_description %}

		{% if group_dict.description %}
    <div class="desc-unwrap" data-readmore="{{ _("Lire plus") }}">
			{{ h.render_markdown(group_dict.description) }}
    </div>
		{% endif %}


	{% endblock %}
{% endblock %}
