.hide-filters {
    display: none;
}

.fr-tile__body .fr-tags-group {
    margin-top: 15px;
}

/* DEBUT TABS */

.fr-tabs__list a {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }
  
  .fr-tabs__list a:not([class*="tabs__tab--icon-"])[class^="fr-fi-"],
  .fr-tabs__list a:not([class*="tabs__tab--icon-"])[class*=" fr-fi-"] {
    flex-direction: row;
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .fr-tabs__list a[class^="fr-fi-"]:not([class*="tabs__tab--icon-"])::before,
  .fr-tabs__list a[class*=" fr-fi-"]:not([class*="tabs__tab--icon-"])::before {
    margin-left: 0;
    margin-right: 0.75rem;
    font-size: 1rem;
  }
  
  .fr-tabs__list a--icon-left[class^="fr-fi-"],
  .fr-tabs__list a--icon-left[class*=" fr-fi-"] {
    flex-direction: row;
  }
  
  .fr-tabs__list a--icon-left[class^="fr-fi-"]::before,
  .fr-tabs__list a--icon-left[class*=" fr-fi-"]::before {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  .fr-tabs {
    --is-list: false;
    --is-link: false;
    position: relative;
    overflow: hidden;
    margin-top: -4px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /**
      * Animation de la hauteur du panel
      */
    transition: height 0.3s;
    
    /**
     * ul : element srollable des boutons
     *//**
    * Tab button
    *//**
    * Tab Panel
    */
  }
  
  .fr-tabs .fr-tabs {
    margin-left: 0;
    margin-right: 0;
  }

  .fr-tabs__list {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    width: 100%;
    height: 3rem;
    position: absolute;
    /**
      * overflow vertical de 4px pour le focus
      */
    margin: -4px 0;
    padding: 4px 0.5rem;
    /**
      * Reset du style par défaut du li
      */
  }
  
  .fr-tabs__list::after {
    display: block;
    content: "";
    flex: 1 1 auto;
    height: 1px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .fr-tabs__list > li {
    display: block;
    flex: 0 0 auto;
    margin: 0 0.5rem;
    height: 82%;
  }
  
  .fr-tabs__list > li:not(:first-child) {
    margin-left: 0;
  }
  
  .fr-tabs__list > li:not(:first-child)::before {
    display: block;
    content: "";
    position: sticky;
    top: 100%;
    width: 0.5rem;
    height: 1px;
    margin-left: -0.5rem;
  }
  
  .fr-tabs__list > li:last-child {
    padding-right: 1rem;
  }
  
  .fr-tabs__list > li:last-child::after {
    display: block;
    content: "";
    min-width: 1rem;
    margin-left: 100%;
    flex: 1 1 auto;
    position: sticky;
    top: 100%;
    width: auto;
    height: 1px;
    margin-top: -1px;
  }
  
  .fr-tabs__list > li:first-child::before {
    display: block;
    content: "";
    position: sticky;
    top: 100%;
    width: 100%;
    height: 1px;
    position: sticky;
    margin-left: -100%;
  }
  
  .fr-tabs__list a {
    --is-link: false;
    margin: 0;
    position: relative;
    overflow: visible;
    font-weight: bold;
    z-index: 1;
  }
  
  .fr-tabs__list li.active a {
    cursor: default;
    background: transparent;
  }
  
  .fr-tabs__list li.active a::after {
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    right: 1px;
    bottom: 0;
    left: 1px;
    width: auto;
    height: calc(100% - 1px);
    z-index: 1;
  }
  
  .fr-tabs__panel {
    --is-link:  ;
    --is-list:  ;
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-right: -100%;
    flex: 0 0 100%;
    transition: visibility 0.3s, transform 0.3s;
    /**
      * Les éléments non sélectionnés sont cachés et rendus innaccessibles au focus
      * Point d'attention : visibility hidden sur le panel et surcharge sur l'élément active avec visibility visible créé des problèmes dans la gestion du focus en cas d'imbrication d'onglets
      *
      * tabs
      * └─ panel active
      * └─ panel (visibility hidden, tabindex -1)
      *    └─ tabs
      *       └─ panel active (visibility visible tabindex 0)
      *            ↑ ce panel est accessible alors que caché par son panel parent
      * solution : visibility hidden seulement sur les éléments non sélectionnés
      **/
  }
  
  .fr-tabs__panel:focus, .fr-tabs__panel:focus-visible {
    outline-offset: calc(-1rem + 2px);
  }
  
  .fr-tabs__panel:not(.fr-tabs__panel--active) {
    visibility: hidden;
  }
  
  .fr-tabs {
    /**
     * ul : element srollable des boutons
     *//**
    * Tab button
    */
  }
  

  .fr-tabs__list {
    /**
      * Reset du style par défaut du li
      */
  }
  
  .fr-tabs__list::after {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:not(:first-child)::before {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:last-child::after {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:first-child::before {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list li:not(.active) a {
    background-color: var(--bf100-g750);
    color: var(--g700);
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  :root:not([data-fr-theme="dark" i]) .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(182, 182, 255, 0.5);
    --color-active: rgba(119, 119, 255, 0.5);
  }
  
  :root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] .fr-tabs__list li:not(.active) a,
  :root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(182, 182, 255, 0.5);
    --color-active: rgba(119, 119, 255, 0.5);
  }
  
  :root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] .fr-tabs__list li:not(.active) a,
  :root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }
  
  :root[data-fr-theme="dark" i] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }
  
  .fr-tabs__list li:not(.active) a[disabled],
  .fr-tabs__list li:not(.active) a:disabled {
    color: var(--g600-g400);
    background-color: var(--g200);
  }
  
  .fr-tabs__list li.active a {
    box-shadow: inset 0 0.125rem 0 0 var(--bf500);
    background-color: var(--t-plain);
    color: var(--bf500);
  }
  
  .fr-tabs__list li.active a:hover:not([disabled]),
  .fr-tabs__list li.active a:hover:not(:disabled),
  .fr-tabs__list li.active a:active:not([disabled]),
  .fr-tabs__list li.active a:active:not(:disabled) {
    background-image: none;
  }
  
  .fr-tabs__list li.active a::after {
    box-shadow: -1px 0 0 0 var(--g300), 1px 0 0 0 var(--g300);
  }

  .fr-tabs::after {
      box-shadow: none;
  }

  /* FIN TABS */


  .resource-item .fr-btn {
    margin-bottom: 2px;
  }

  .tags {
    margin: 30px;
  }

  /* Gestion des fade in fade out des collapse js */
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
  }
  .fade.in {
    opacity: 1;
  }
  .collapse {
    display: none;
  }
  .collapse.in {
    display: block;
  }
  tr.collapse.in {
    display: table-row;
  }
  tbody.collapse.in {
    display: table-row-group;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  /* Gestion des Montrer plus / Montrer moins */
  .js .table-toggle-more .toggle-more {
    display: none;
  }
  .js .table-toggle-more .show-more {
    display: inline;
  }
  .js .table-toggle-more .show-less {
    display: none;
  }
  .js .table-toggle-more .toggle-seperator {
    display: table-row;
  }
  .js .table-toggle-more .toggle-seperator td {
    height: 11px;
    padding: 0;
    background-image: url("../../base/images/table-seperator.png");
  }
  .js .table .toggle-show td {
    background: none;
    text-align: center;
  }
  .js .table-toggle-less .show-less {
    display: inline;
  }
  .js .table-toggle-less .show-more {
    display: none;
  }
  .js .table-toggle-less .toggle-seperator {
    display: none;
  }

/* Popover */
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    line-break: auto;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .popover.top {
    margin-top: -10px;
  }
  .popover.right {
    margin-left: 10px;
  }
  .popover.bottom {
    margin-top: 10px;
  }
  .popover.left {
    margin-left: -10px;
  }
  .popover > .arrow {
    border-width: 11px;
  }
  .popover > .arrow,
  .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .popover > .arrow:after {
    content: "";
    border-width: 10px;
  }
  .popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
  }
  .popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
  }
  .popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
  }
  .popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
  }
  .popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  .popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
  }
  .popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  .popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
  }
  .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
  }
  .popover-content {
    padding: 9px 14px;
  }



  .btn {
    background-color:var(--bf500);
    color:var(--w-bf500)
   }
   :root:not([data-fr-theme=dark]) .btn,
   :root:not([data-fr-theme=dark]) [class*="--scheme-light-"] .btn,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-light] .btn {
    --color-hover:rgba(0,0,221,0.5);
    --color-active:rgba(41,41,255,0.5)
   }
   :root:not([data-fr-theme=dark]) [class*="--scheme-dark-"] .btn,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-dark] .btn,
   :root[data-fr-theme=dark] .btn {
    --color-hover:rgba(71,71,255,0.5);
    --color-active:rgba(0,0,243,0.5)
   }
   a.btn:not([href]),
   button.btn[disabled] {
    color:var(--g600-g400);
    background-color:var(--g200)
   }
   .btn--secondary {
    background-color:var(--t-plain);
    color:var(--bf500);
    box-shadow:inset 0 0 0 1px var(--bf500)
   }
   :root:not([data-fr-theme=dark]) .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*="--scheme-dark-"] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*="--scheme-light-"] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-dark] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-light] .btn--secondary,
   :root[data-fr-theme=dark] .btn--secondary {
    --color-hover:var(--block-color-hover);
    --color-active:var(--block-color-active)
   }
   a.btn--secondary:not([href]),
   button.btn--secondary[disabled] {
    color:var(--g600-g400);
    box-shadow:inset 0 0 0 1px var(--g400);
    background-color:var(--t-plain)
   }

   .btn {
    --link-underline:none;
    --link-blank-font:none;
    --link-blank-content:none;
    margin:0;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    z-index:1;
    font-size:1rem;
    line-height:1.5rem;
    min-height:2.5rem;
    padding:.5rem 1.5rem;
   }

   .btn+.btn {
     margin-left: 5px;
   }

   .js .image-upload #field-image-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .js .js-hide {
    display: none;
  }
  .js .js-hide.active {
    display: block;
  }