/**
 * Cette classe wrapper_minimap est positionnée sur le parent de la minimap
 * en mettant du relative, le positionnement absolute css fonctionne
 * cette classe n'est positionnée que sur le parent de la minimap
 */
.wrapper_minimap {
        position: relative;
}

.dataset-map-expanded .wrapper_minimap{
        min-height: 400px;
        margin-top: 425px;
}

.dataset-map-expanded .wrapper_minimap #dataset-map{
        top: -400px;
        left: 12px;
}


.hide-filters {
    display: none;
}

.fr-tile__body .fr-tags-group {
    margin-top: 15px;
}

/* DEBUT TABS */

.fr-tabs__list a {
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1rem;
  }
  
  .fr-tabs__list a:not([class*="tabs__tab--icon-"])[class^="fr-fi-"],
  .fr-tabs__list a:not([class*="tabs__tab--icon-"])[class*=" fr-fi-"] {
    flex-direction: row;
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .fr-tabs__list a[class^="fr-fi-"]:not([class*="tabs__tab--icon-"])::before,
  .fr-tabs__list a[class*=" fr-fi-"]:not([class*="tabs__tab--icon-"])::before {
    margin-left: 0;
    margin-right: 0.75rem;
    font-size: 1rem;
  }
  
  .fr-tabs__list a--icon-left[class^="fr-fi-"],
  .fr-tabs__list a--icon-left[class*=" fr-fi-"] {
    flex-direction: row;
  }
  
  .fr-tabs__list a--icon-left[class^="fr-fi-"]::before,
  .fr-tabs__list a--icon-left[class*=" fr-fi-"]::before {
    margin-left: -0.25rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  .fr-tabs {
    --is-list: false;
    --is-link: false;
    position: relative;
    overflow: hidden;
    margin-top: -4px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /**
      * Animation de la hauteur du panel
      */
    transition: height 0.3s;
    
    /**
     * ul : element srollable des boutons
     *//**
    * Tab button
    *//**
    * Tab Panel
    */
  }
  
  .fr-tabs .fr-tabs {
    margin-left: 0;
    margin-right: 0;
  }

  .fr-tabs__list {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    width: 100%;
    height: 3rem;
    position: absolute;
    /**
      * overflow vertical de 4px pour le focus
      */
    margin: -4px 0;
    padding: 4px 0.5rem;
    /**
      * Reset du style par défaut du li
      */
  }
  
  .fr-tabs__list::after {
    display: block;
    content: "";
    flex: 1 1 auto;
    height: 1px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .fr-tabs__list > li {
    display: block;
    flex: 0 0 auto;
    margin: 0 0.5rem;
    height: 82%;
  }
  
  .fr-tabs__list > li:not(:first-child) {
    margin-left: 0;
  }
  
  .fr-tabs__list > li:not(:first-child)::before {
    display: block;
    content: "";
    position: sticky;
    top: 100%;
    width: 0.5rem;
    height: 1px;
    margin-left: -0.5rem;
  }
  
  .fr-tabs__list > li:last-child {
    padding-right: 1rem;
  }
  
  .fr-tabs__list > li:last-child::after {
    display: block;
    content: "";
    min-width: 1rem;
    margin-left: 100%;
    flex: 1 1 auto;
    position: sticky;
    top: 100%;
    width: auto;
    height: 1px;
    margin-top: -1px;
  }
  
  .fr-tabs__list > li:first-child::before {
    display: block;
    content: "";
    position: sticky;
    top: 100%;
    width: 100%;
    height: 1px;
    position: sticky;
    margin-left: -100%;
  }
  
  .fr-tabs__list a {
    --is-link: false;
    margin: 0;
    position: relative;
    overflow: visible;
    font-weight: bold;
    z-index: 1;
  }
  
  .fr-tabs__list li.active a {
    cursor: default;
    background: transparent;
  }
  
  .fr-tabs__list li.active a::after {
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    right: 1px;
    bottom: 0;
    left: 1px;
    width: auto;
    height: calc(100% - 1px);
    z-index: 1;
  }
  
  .fr-tabs__panel {
    --is-link:  ;
    --is-list:  ;
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-right: -100%;
    flex: 0 0 100%;
    transition: visibility 0.3s, transform 0.3s;
    /**
      * Les éléments non sélectionnés sont cachés et rendus innaccessibles au focus
      * Point d'attention : visibility hidden sur le panel et surcharge sur l'élément active avec visibility visible créé des problèmes dans la gestion du focus en cas d'imbrication d'onglets
      *
      * tabs
      * └─ panel active
      * └─ panel (visibility hidden, tabindex -1)
      *    └─ tabs
      *       └─ panel active (visibility visible tabindex 0)
      *            ↑ ce panel est accessible alors que caché par son panel parent
      * solution : visibility hidden seulement sur les éléments non sélectionnés
      **/
  }
  
  .fr-tabs__panel:focus, .fr-tabs__panel:focus-visible {
    outline-offset: calc(-1rem + 2px);
  }
  
  .fr-tabs__panel:not(.fr-tabs__panel--active) {
    visibility: hidden;
  }
  
  .fr-tabs {
    /**
     * ul : element srollable des boutons
     *//**
    * Tab button
    */
  }
  

  .fr-tabs__list {
    /**
      * Reset du style par défaut du li
      */
  }
  
  .fr-tabs__list::after {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:not(:first-child)::before {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:last-child::after {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list > li:first-child::before {
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  .fr-tabs__list li:not(.active) a {
    background-color: var(--bf100-g750);
    color: var(--g700);
    box-shadow: 0 1px 0 0 var(--g300);
  }
  
  :root:not([data-fr-theme="dark" i]) .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(182, 182, 255, 0.5);
    --color-active: rgba(119, 119, 255, 0.5);
  }
  
  :root:not([data-fr-theme="dark" i]) [class*="fr-scheme-light"] .fr-tabs__list li:not(.active) a,
  :root:not([data-fr-theme="dark" i]) [class*="--scheme-light-"] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(182, 182, 255, 0.5);
    --color-active: rgba(119, 119, 255, 0.5);
  }
  
  :root:not([data-fr-theme="dark" i]) [class*="fr-scheme-dark"] .fr-tabs__list li:not(.active) a,
  :root:not([data-fr-theme="dark" i]) [class*="--scheme-dark-"] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }
  
  :root[data-fr-theme="dark" i] .fr-tabs__list li:not(.active) a {
    --color-hover: rgba(79, 79, 79, 0.5);
    --color-active: rgba(115, 115, 115, 0.5);
  }
  
  .fr-tabs__list li:not(.active) a[disabled],
  .fr-tabs__list li:not(.active) a:disabled {
    color: var(--g600-g400);
    background-color: var(--g200);
  }
  
  .fr-tabs__list li.active a {
    box-shadow: inset 0 0.125rem 0 0 var(--bf500);
    background-color: var(--t-plain);
    color: var(--bf500);
  }
  
  .fr-tabs__list li.active a:hover:not([disabled]),
  .fr-tabs__list li.active a:hover:not(:disabled),
  .fr-tabs__list li.active a:active:not([disabled]),
  .fr-tabs__list li.active a:active:not(:disabled) {
    background-image: none;
  }
  
  .fr-tabs__list li.active a::after {
    box-shadow: -1px 0 0 0 var(--g300), 1px 0 0 0 var(--g300);
  }

  .fr-tabs::after {
      box-shadow: none;
  }

  /* FIN TABS */


  .resource-item .fr-btn {
    margin-bottom: 2px;
  }

  .tags {
    margin: 30px;
  }

  /* Gestion des fade in fade out des collapse js */
  .fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
  }
  .fade.in {
    opacity: 1;
  }
  .collapse {
    display: none;
  }
  .collapse.in {
    display: block;
  }
  tr.collapse.in {
    display: table-row;
  }
  tbody.collapse.in {
    display: table-row-group;
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  /* Gestion des Montrer plus / Montrer moins */
  .js .table-toggle-more .toggle-more {
    display: none;
  }
  .js .table-toggle-more .show-more {
    display: inline;
  }
  .js .table-toggle-more .show-less {
    display: none;
  }
  .js .table-toggle-more .toggle-seperator {
    display: table-row;
  }
  .js .table-toggle-more .toggle-seperator td {
    height: 11px;
    padding: 0;
    background-image: url("../../base/images/table-seperator.png");
  }
  .js .table .toggle-show td {
    background: none;
    text-align: center;
  }
  .js .table-toggle-less .show-less {
    display: inline;
  }
  .js .table-toggle-less .show-more {
    display: none;
  }
  .js .table-toggle-less .toggle-seperator {
    display: none;
  }

/* Popover */
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    line-break: auto;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .popover.top {
    margin-top: -10px;
  }
  .popover.right {
    margin-left: 10px;
  }
  .popover.bottom {
    margin-top: 10px;
  }
  .popover.left {
    margin-left: -10px;
  }
  .popover > .arrow {
    border-width: 11px;
  }
  .popover > .arrow,
  .popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .popover > .arrow:after {
    content: "";
    border-width: 10px;
  }
  .popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
  }
  .popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
  }
  .popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
  }
  .popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
  }
  .popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
  .popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
  }
  .popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25);
  }
  .popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
  }
  .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
  }
  .popover-content {
    padding: 9px 14px;
  }



  .btn {
    background-color:var(--bf500);
    color:var(--w-bf500)
   }
   :root:not([data-fr-theme=dark]) .btn,
   :root:not([data-fr-theme=dark]) [class*="--scheme-light-"] .btn,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-light] .btn {
    --color-hover:rgba(0,0,221,0.5);
    --color-active:rgba(41,41,255,0.5)
   }
   :root:not([data-fr-theme=dark]) [class*="--scheme-dark-"] .btn,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-dark] .btn,
   :root[data-fr-theme=dark] .btn {
    --color-hover:rgba(71,71,255,0.5);
    --color-active:rgba(0,0,243,0.5)
   }
   a.btn:not([href]),
   button.btn[disabled] {
    color:var(--g600-g400);
    background-color:var(--g200)
   }
   .btn--secondary {
    background-color:var(--t-plain);
    color:var(--bf500);
    box-shadow:inset 0 0 0 1px var(--bf500)
   }
   :root:not([data-fr-theme=dark]) .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*="--scheme-dark-"] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*="--scheme-light-"] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-dark] .btn--secondary,
   :root:not([data-fr-theme=dark]) [class*=fr-scheme-light] .btn--secondary,
   :root[data-fr-theme=dark] .btn--secondary {
    --color-hover:var(--block-color-hover);
    --color-active:var(--block-color-active)
   }
   a.btn--secondary:not([href]),
   button.btn--secondary[disabled] {
    color:var(--g600-g400);
    box-shadow:inset 0 0 0 1px var(--g400);
    background-color:var(--t-plain)
   }

   .btn {
    --link-underline:none;
    --link-blank-font:none;
    --link-blank-content:none;
    margin:0;
    display:inline-flex;
    flex-direction:row;
    align-items:center;
    z-index:1;
    font-size:1rem;
    line-height:1.5rem;
    min-height:2.5rem;
    padding:.5rem 1.5rem;
   }

   .btn+.btn {
     margin-left: 5px;
   }

   .js .image-upload #field-image-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .js .js-hide {
    display: none;
  }
  .js .js-hide.active {
    display: block;
  }

  .fr-breadcrumb li:not(.active) a:after {
    font:normal normal normal 1rem/1 dsfr-icons;
    content:"";
    position:absolute;
    top:.125rem;
    right:-1.25rem;
    pointer-events:none;
   }

   .fr-breadcrumb li a {
    position: relative;
    display: inline-flex;
    font-size: .75rem;
    line-height: 1.25rem;
    margin-bottom: .5rem;
   }

   .fr-breadcrumb li:not(.active) a {
    margin-right: 1.5rem;
   }


   ul.activity li{
    list-style: none;
    padding-bottom: 15px;
   }

   ul.activity li:nth-child(even){
    background-color: var(--beige);
   }
   
   ul.activity li i{
     transform: translateY(-100%);
   }
   ul.activity li p{
    display: inline-block;
    margin-bottom: auto;
   }
   ul.activity li img{
    transform: translateY(65%);
   }
   ul.activity li .date {
    margin-left: 32px;
   }
   

   .pagination li>a {
    margin: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 2rem;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    box-shadow: none;
   }

   .pagination li > a:hover {
    background-image: linear-gradient(
      0deg, var(--block-color-hover), var(--block-color-hover));
   }

   .pagination li > a:active {
    background-image: linear-gradient(
      0deg, var(--block-color-active), var(--block-color-active));
   }

   .pagination li.active a {
    color: #f0F0F0!important;
    background-color: var(--bf500);
   }
   

   ul.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: auto;
    width: max-content;
   }

   .pagination-wrapper {
    width: 100%;
   }

.show-filters.btn,
.hide-filters {
    display: none;
}

.js body.filters-modal .secondary .filters .hide-filters {
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 17px;
  opacity: 0.6;
  i {
      font-size: 18px;
  }
}
.js .show-filters.btn {
  display: inline-block;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--bf500);
  border-radius: 10px;
}
.badge:empty {
  display: none;
}

.nav-facet .nav-item a span.item-label {
  padding-right: 15px;
}

.format-label {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../../../base/images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  text-indent: -900em;
  background: url("../../../base/images/sprite-resource-icons.png") no-repeat 0 0;
}
.format-label {
  width: 60px;
  height: 65px;
  background-position: -1720px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 0;
}
.format-label[data-format=html],
.format-label[data-format*=html] {
  width: 60px;
  height: 65px;
  background-position: -120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=json],
.format-label[data-format*=json] {
  width: 60px;
  height: 65px;
  background-position: -220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=xml],
.format-label[data-format*=xml] {
  width: 60px;
  height: 65px;
  background-position: -320px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=txt],
.format-label[data-format*=txt] {
  width: 60px;
  height: 65px;
  background-position: -420px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=doc],
.format-label[data-format*=doc],
.format-label[data-format=docx],
.format-label[data-format*=docx] {
  width: 60px;
  height: 65px;
  background-position: -520px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=odt],
.format-label[data-format*=odt] {
  width: 60px;
  height: 65px;
  background-position: -620px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=csv],
.format-label[data-format*=csv] {
  width: 60px;
  height: 65px;
  background-position: -720px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=xls],
.format-label[data-format*=xls] {
  width: 60px;
  height: 65px;
  background-position: -820px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=zip],
.format-label[data-format*=zip] {
  width: 60px;
  height: 65px;
  background-position: -920px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=api],
.format-label[data-format*=api] {
  width: 60px;
  height: 65px;
  background-position: -1020px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=pdf],
.format-label[data-format*=pdf] {
  width: 60px;
  height: 65px;
  background-position: -1120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=rdf],
.format-label[data-format*=rdf] {
  width: 60px;
  height: 65px;
  background-position: -1220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wms],
.format-label[data-format*=wms] {
  width: 60px;
  height: 65px;
  background-position: -1320px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=png],
.format-label[data-format*=png] {
  width: 60px;
  height: 65px;
  background-position: -1420px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=jpg],
.format-label[data-format*=jpg],
.format-label[data-format=jpeg],
.format-label[data-format*=jpeg] {
  width: 60px;
  height: 65px;
  background-position: -1520px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=gif],
.format-label[data-format*=gif] {
  width: 60px;
  height: 65px;
  background-position: -1620px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wfs],
.format-label[data-format*=wfs] {
  width: 60px;
  height: 65px;
  background-position: -1820px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=gml],
.format-label[data-format*=gml] {
  width: 60px;
  height: 65px;
  background-position: -1920px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=wmts],
.format-label[data-format*=wmts] {
  width: 60px;
  height: 65px;
  background-position: -2020px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=kml],
.format-label[data-format*=kml] {
  width: 60px;
  height: 65px;
  background-position: -2120px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}
.format-label[data-format=geo],
.format-label[data-format*=geo] {
  width: 60px;
  height: 65px;
  background-position: -2220px -220px;
  transform: scale(0.53);
  margin: -14px 0 0 -14px;
}

.nums dt, .nums dd {
  display: inline;
}

.module-content hr {
  display: none;
}

.fr-tile__img {
  width: inherit;
  height: inherit;
}

.heading.fr-h4 {
  word-break: break-word;
}

#dataset-search-form {
  margin-top: 10px;
}

.search-form .fr-input-group {
  width: fit-content;
}

.fr-header__service {
  margin-left: 10px;
}

ul.hierarchy-tree {
  font-size: 15px;
  margin-top: 7px !important;
}
