{% ckan_extends %}


{% block styles %}

  {# {{ super() }} #}
  <title>
    {%- block title -%}
      {{ h.get_localized_value_for_display(g.site_title) }}
    {%- endblock -%}
  </title>
  <meta name="robots" content="noindex" />
  <link rel="stylesheet" href="/css/dsfr.min.css" />
  {#<link rel="stylesheet" href="/css/custom.css" />#}
  <link rel="stylesheet" href="/css/ecosphere/icons/remixicon.css" />
  <link rel="stylesheet" href="/css/ecosphere/style.css" />
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <script src="/js/dsfr.nomodule.min.js" type="text/javascript"></script>
  <script src="/js/ecosphere/swiper-bundle.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/js/ecosphere/swiper-bundle.min.css" />
  <script src="/js/ecosphere/script.js" type="text/javascript"></script>
  
{% endblock %}
