<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République
                                <br>Française
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-851" title="Rechercher">
                                Rechercher
                            </button>
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-855" id="button-855" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-1">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ h.url_for('home.index') }}" alt="{{ g.site_title }}" title="{{ g.site_title }}">
                            <p class="fr-header__service-title">{{ g.site_title }}</p>
                        </a>
                        {% if g.site_description %}
                        <p class="fr-header__service-tagline">{{ g.site_description }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="fr-header__tools">
                    
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            
                        {% if c.userobj %}
                            {% block header_account_log_out_link %}
                            <li>
                                <a class="fr-link fr-fi-add-circle-line" href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">{{ _('Log out') }}</a>
                            </li>
                            {% endblock %}
                        {% else %}
                            {% block header_account_notlogged %}
                            <li>
                                <a class="fr-link fr-fi-lock-line" >{% link_for _('Log in'), named_route='user.login' %}</a>
                            </li>
                                {% if h.check_access('user_create') %}
                            <li>
                                <a class="fr-link fr-fi-account-line" >{% link_for _('Register'), named_route='user.register', class_='sub' %}</a>
                            </li>
                                {% endif %} 
                            {% endblock %}
                        {% endif %} 
                        </ul>
                    </div>
                    <div class="fr-header__search fr-modal" id="modal-851">
                        <div class="fr-container fr-container-lg--fluid">
                            <button class="fr-link--close fr-link" aria-controls="modal-851">Fermer</button>
                            <div class="fr-search-bar" id="search-850" role="search">
                                <form action="{% url_for 'dataset.search' %}" method="get" style="display: inherit">
                                    <label class="fr-label" for="search-850-input">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}
                                    </label>
                                    <input class="fr-input" placeholder="Rechercher" type="text" id="search-850-input" name="q" placeholder="{{ _('Search') }}" aria-label="{{ _('Search datasets') }}">
                                    <button class="fr-btn" title="{{ _('Submit') }}" type="submit" aria-label="{{ _('Submit') }}">
                                        {{ _('Submit') }}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-855" aria-labelledby="fr-btn-menu-mobile-1">
        <div class="fr-container">
            <button class="fr-link--close fr-link" aria-controls="modal-840">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                {% if c.userobj %}
                  {% block header_account_logged %} 
                    {% if c.userobj.sysadmin %}
                  <li class="fr-nav__item">
                      <a class="fr-nav__link" href="{{ h.url_for(controller='admin', action='index') }}" target="_self" title="{{ _('Sysadmin settings') }}" {% if h.current_url().startswith(h.url_for(controller='admin', action='index')) %}aria-current="page"{% endif %} >{{ _('Admin') }}</a>
                  </li>
                    {% endif %}
                  
                  <li class="fr-nav__item">
                      <a class="fr-nav__link" href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('View profile') }}" target="_self" {% if h.current_url().startswith(h.url_for('user.read', id=c.userobj.name)) %}aria-current="page"{% endif %} >{{ c.userobj.display_name }}</a>
                  </li>
                  {% set new_activities = h.new_activities() %}
                  <li class="fr-nav__item">
                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
                    %}
                      <a class="fr-nav__link" href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}" target="_self" {% if h.current_url().startswith(h.url_for('dashboard.index')) %}aria-current="page"{% endif %} >{{ _('Dashboard') }} ({{ new_activities }})</a>
                  </li>
                  {% block header_account_settings_link %}
                  <li class="fr-nav__item">
                      <a class="fr-nav__link" href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}" target="_self" {% if h.current_url().startswith(h.url_for('user.edit', id=c.userobj.name)) %}aria-current="page"{% endif %} >{{ _('Profile settings') }}</a>
                  </li>
                  {% endblock %} 
                  {% endblock %}
                {% endif %} 
                {% block header_site_navigation %}
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ h.url_for('dataset.search') }}" title="{{ _('Datasets') }}" target="_self" {% if h.current_url().startswith(h.url_for('dataset.search')) %}aria-current="page"{% endif %} >{{ _('Datasets') }}</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ h.url_for('organization.index') }}" title="{{ _('Organizations') }}" target="_self" {% if h.current_url().startswith(h.url_for('organization.index')) %}aria-current="page"{% endif %} >{{ _('Organizations') }}</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ h.url_for('group.index') }}" title="{{ _('Groups') }}" target="_self" {% if h.current_url().startswith(h.url_for('group.index')) %}aria-current="page"{% endif %} >{{ _('Groups') }}</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{{ h.url_for('home.about') }}" title="{{ _('About') }}" target="_self" {% if h.current_url().startswith(h.url_for('home.about')) %}aria-current="page"{% endif %} >{{ _('About') }}</a>
                    </li>
                {% endblock %}
                  
              </ul>
            </nav>
        </div>
    </div>
</header>
