{% trans %}
    <p>
        Le guichet d’accès à la donnée de la transition écologique et de la cohésion des territoires est une des actions phares des feuilles de route de la donnée du pôle ministériel MTE – Mer et du MCTRCT. Le projet part du constat qu’il est difficile de trouver des données sur nos politiques ; il est même parfois difficile de savoir que ces données existent. Une enquête réalisée auprès de bureaux d’études privés a précisé ce constat et mis en lumière des difficultés d’accès : en particulier l’existence de multiples catalogues de données et le manque de fonctionnalité de recherche des catalogues.
    </p>
    <p>
        L’objectif du guichet est donc de mettre en place un point d’accès unique à la donnée en travaillant, d’une part, avec les professionnels internes comme externes qui ont du mal à trouver des données et, d’autre part, avec les acteurs qui publient leurs données dans un catalogue de données. Le guichet d’accès est constitué en agrégeant les métadonnées existantes dans différents catalogues ; les métadonnées sont les données enregistrées dans des catalogues de données et qui décrivent les jeux de données.
    </p>
    <p>
        Ce guichet utilise le logiciel open source CKAN déjà largement utilisé dans le monde pour des portails de données ouvertes publiques, notamment en Europe.
    </p>
{% endtrans %}