<div role="main">

    <div class="home-intro">
        <h1>Ecosphères</h1>
        <p>
            Explorez les données ouvertes et restreintes de la
            <strong>Transition écologique</strong>,<br/>
            de la
            <strong>Cohésion des territoires</strong>, de la
            <strong>Transition énergétique</strong>
            et de la
            <strong>Mer</strong>
        </p>

        <form action="{% url_for 'dataset.search' %}" method="get">
            <label class="fr-label" for="search-850-input">{{ _('Search Datasets') }}
            </label>
            <input class="fr-input" type="text" id="search-850-input" name="q"
                placeholder="{{ _('Recherche libre dans les libellés, descriptions et mots-clés') }}" aria-label="{{ _('Search datasets') }}">
            <button class="fr-btn fr-fi-search-line" title="{{ _('Submit') }}" type="submit"
                aria-label="{{ _('Submit') }}">
                <span class="sr-only">{{ _('Submit') }}</span>
            </button>
        </form>
    </div>
    <section class="home-searchby">
        <div class="fr-container title">
            <p>
                {{ _("Vous pouvez également effectuer une rechercher par") }}
            </p>
            <ul>
                <li>
                    <button class="fr-btn fr-btn--secondary fr-btn--rounded" data-section="territoire"><span>{{ _("Territoire") }}</span><span class="arrow-down"></span></button>
                </li>
                <li>
                    <button class="fr-btn fr-btn--secondary fr-btn--rounded" data-section="thematique"><span>{{ _("Thématique") }}</span><span class="arrow-down"></span></button>
                </li>
                <li>
                    <button class="fr-btn fr-btn--secondary fr-btn--rounded" data-section="organisation"><span>{{ _("Organisation") }}</span><span class="arrow-down"></span></button>
                </li>
            </ul>
        </div>
        <div class="fr-container types">
            <div class="type" id="territoire">
                <div class="fr-tabs">
                    <ul class="fr-tabs__list" role="tablist" aria-label="Territoires">
                        <li role="presentation">
                            <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true"
                                aria-controls="tabpanel-404-panel">{{ _("Régions métropolitaines") }}</button>
                        </li>
                        <li role="presentation">
                            <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab"
                                aria-selected="false" aria-controls="tabpanel-405-panel">{{ _("Départements métropolitains") }}</button>
                        </li>
                        <li role="presentation">
                            <button id="tabpanel-406" class="fr-tabs__tab" tabindex="-1" role="tab"
                                aria-selected="false" aria-controls="tabpanel-406-panel">{{ _("Outre-mer") }}</button>
                        </li>
                    </ul>
                    <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel"
                        aria-labelledby="tabpanel-404" tabindex="0">
                        {#{% snippet "home/map/regions.svg" %}#}
                        <object class="map-large" id="regions" type="image/svg+xml" data="/map/regions.svg"></object>
                    </div>
                    <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405"
                        tabindex="0">
                        {#{% snippet "home/map/departements.svg" %}#}
                        <object class="map-large" id="depts" type="image/svg+xml" data="/map/departements.svg"></object>
                    </div>
                    <div id="tabpanel-406-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406"
                        tabindex="0">
                        {% set om = [
                            { "id": "mayotte", "title": "Mayotte" },
                            { "id": "guadeloupe", "title": "Guadeloupe" },
                            { "id": "martinique", "title": "Martinique" },
                            { "id": "la-reunion", "title": "La Réunion" },
                            { "id": "guyane", "title": "Guyane" },
                            { "id": "saint-pierre-et-miquelon", "title": "Saint-Pierre-et-Miquelon" },
                            { "id": "nouvelle-caledonie", "title": "Nouvelle Calédonie" },
                            { "id": "wallis-et-futuna", "title": "Wallis et Futuna" },
                            { "id": "saint-martin", "title": "Saint-Martin" },
                            { "id": "saint-barthelemy", "title": "Saint-Barthelemy" },
                            { "id": "polynesie-francaise", "title": "Polynésie Française" },
                            { "id": "taaf", "title": "Terres australes et antarctiques françaises" }
                        ] %}
                        <div class="om-container">
                            {% for territoire in om %}
                            <div class="col">
                                <object class="map-list-item" id="om-{{ territoire.id }}" type="image/svg+xml" data="/map/om/{{ territoire.id }}.svg"></object>
                                <span>{{ territoire.title }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="search-selection">
                    <h3>{{ _("Sélection") }}</h3>
                    <div class="content">
                        <div class="list-selected">
                        </div>
                        <div class="action-buttons">
                            <button class="fr-btn back" id="thematiques-back"><span class="fr-fi-arrow-left-s-line"></span> {{ _("Retour aux thèmes") }}</button>
                            <a class="fr-btn search" id="thematiques-search" data-href="{{ h.url_for('dataset.search') }}?q=" href="#"><span class="fr-fi-search-line"></span> {{ _("Search") }}</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="type" id="thematique">
                <div class="thematiques-header type-header hidden">
                    <div class="thematique-name title">
                        <span class="color" style="--tile-color: #000">&nbsp;</span> <span class="name">{{ _("Sélectionner une thématique") }}</span>
                    </div>
                    <div class="thematique-super-select">
                        <button class="fr-btn fr-btn--secondary fr-btn--rounded fr-btn--white">{{ _("Sélectionner la thématique") }}</button>
                    </div>
                </div>
                <div class="level1 tiles">
                </div>
                <div class="level2-container hidden">
                    {% if 1 == 0 %}
                    {% for theme in themes %}
                        {% if theme.subthemes|length > 0 %}
                            <div class="level2 tiles hidden" data-id="{{ theme.id }}">
                                {% for subtheme in theme.subthemes %}
                                {# Tuile verticale avec description #}
                                <div class="fr-tile fr-enlarge-link" style="--color-hover: {{ theme.color }}">
                                    <div class="fr-tile__body">
                                        <h4 class="fr-tile__title">
                                        <a class="fr-tile__link" href data-id="{{ subtheme.id }}"  data-name="{{ subtheme.title }}" data-color="{{ theme.color }}">{{ subtheme.title }}</a>
                                        </h4>
                                        <p class="fr-tile__desc"><span class="ri-database-2-line"></span><span>{{ range(800, 45000) | random }}</span></p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="search-selection">
                    <h3>Sélection</h3>
                    <div class="content">
                        <div class="list-selected">
                        </div>
                        <div class="action-buttons">
                            <button class="fr-btn back" id="thematiques-back"><span class="fr-fi-arrow-left-s-line"></span>  {{ _("Retour aux thèmes") }}</button>
                            <a class="fr-btn search" id="thematiques-search" data-href="{{ h.url_for('dataset.search') }}?q=" href="#"><span class="fr-fi-search-line"></span> {{ _("Search") }}</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="type" id="organisation">
                <div class="organisations-header type-header hidden">
                    <div class="organisation-cat-name title">
                        <span class="name">{{ _("Sélectionner une organisation") }}</span>
                    </div>
                    <div class="org-display-select hidden">
                        <button class="btn-maps fr-btn fr-btn--secondary fr-btn--rounded">{{ _("Carte") }}</button>
                        <button class="btn-list fr-btn fr-btn--rounded">{{ _("Liste") }}</button>
                    </div>
                </div>
                <div class="level1 tiles">
                    {% set orgArr = ["Administration centrale", "Directions régionales", "Directions inter-régionales et inter-départementales", "Directions départementales", "Services d'Outre-Mer", "Opérateurs"] %}
                </div>
                <div class="level2-container hidden" data-prev="{{ _("Précédent") }}" data-next="{{ _("Suivant") }}">
                    <nav role="navigation" class="fr-pagination" aria-label="Pagination" >
                        <ul class="fr-pagination__list">
                        </ul>
                    </nav>
                </div>
                <div class="level2 map hidden">
                    <object class="map-large" id="orgdepts" type="image/svg+xml" data="/map/departements.svg"></object>
                </div>
                <div class="search-selection">
                    <h3>{{ _("Sélection") }}</h3>
                    <div class="content">
                        <div class="list-selected">
                        </div>
                        <div class="action-buttons">
                            <button class="fr-btn back" id="organisations-back"><span class="fr-fi-arrow-left-s-line"></span> {{ _("Retour aux organisations") }}</button>
                            <a class="fr-btn search" id="organisations-search" data-href="{{ h.url_for('dataset.search') }}?q=" href="#"><span class="fr-fi-search-line"></span> {{ _("Search") }}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
<script>
    {% set themes = [
        {"title": "Climat", "id": "climat", "color": "#E6EEFE"},
        {"title": "Aménagement et urbanisme", "id": "amenagement-et-urbanisme", "color": "#BAFAEE"},
        {"title": "Établissements d'activités", "id": "etablissements-d-activites", "color": "#FEE7FC"},
        {"title": "Eau", "id": "eau", "color": "#A6F2FA"},
        {"title": "Foncier et occupation du sol", "id": "foncier-et-occupation-du-sol", "color": "#C3FAD5"},
        {"title": "Habitat et politique de la ville", "id": "habitat-et-politique-de-la-ville", "color": "#F7ECDB"},
        {"title": "Mer et littoral", "id": "mer-et-littoral", "color": "#DDE5FF"},
        {"title": "Nature, paysages et biodiversité", "id": "nature-paysages-et-biodiversite", "color": "#B8FEC9"},
        {"title": "Nuisances, déchets et pollution", "id": "nuisances-dechets-et-pollution", "color": "#FEE9E7"},
        {"title": "Réseaux d'énergie et de communication", "id": "reseaux-d-energie-et-de-communication", "color": "#BAFAEE"},
        {"title": "Risques", "id": "risques", "color": "#FEEBD0"},
        {"title": "Industrie, production d'énergie et exploitation du sol", "id": "industrie-production-d-energie-et-exploitation du-sol", "color": "#FFE9E9"},
        {"title": "Transport et déplacements", "id": "transport-et-deplacements", "color": "#FCD4F8"},
        {"title": "Infrastructures de transport", "id": "infrastructures-de-transport", "color": "#FEECC2"},
    ] %}
    var themecolors = {
        {% for theme in themes %}
        "{{ theme.title|safe }}": {
            "color": "{{ theme.color }}",
        }{{ ", " if not loop.last else "" }}
        {% endfor %}
    };
</script>
<script src="/js/ecosphere/territoires.js"></script>
<script src="/js/ecosphere/home.js">
</script>